.content
{
    width: 100%;
    margin-top: 10px;
}
.search-bar {
    top: 15px;
    left: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #807f7f12;
    border: 1px solid;
    border-color: #d9d9d9;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar .search-icon-wrapper {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 25px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
}

.search-icon-button {
    position: absolute;
    height: 72.5%;
    width: 72.5%;
    top: 14.17%;
    right: 13.33%;
    bottom: 13.33%;
    left: 14.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.search-bar .search-text {
    background-color: transparent;
    position: relative;
    text-align: left;
    font-weight: 400;
    color: #bebebe;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border: 0px solid;
    border-color: none;
    outline: none !important;
}
.content-title {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}
.user-configuration-options
{
    display: grid;
    grid-template-columns: 220px auto;
    grid-column-gap: 50px;
    justify-content: center;
    justify-items: center;
}
.printer-icon
{
    margin: 0;
    width: 220px;
    height: 220px;
}
.printer-info-wrapper
{
    display: grid;
    justify-items: center;
    width: 100%;
    font-size: 20px;
    margin: 5px;
}
.user-input
{
    font-size: 20px;
    display: grid;
    grid-row-gap: 10px;
    justify-items: end;
    overflow: auto;
}
.user-input button
{
    font-size: 20px;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    left: -25%;
    border: 2px solid #000;
    background: rgba(60, 141, 188, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition-duration: 0.4s;
}
.user-input button:hover
{
    background: rgba(60, 141, 188, 1);
    color: white;
    cursor: pointer;
}
.input-element
{
    display: grid;
    grid-template-columns: 200px 300px;
}
.error
{
    font-size: 10px;
    color: red;
    margin: 0;
    padding-left: 10px;
}
.file-upload-div
{
    display: flex;
    align-items: center;
}


