* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

a {
    display: inline-block !important;
    text-decoration: none !important;
}

/* Header */

header {
    display: flex;
    height: 110px;
}

.logo {
    width: 260px;
    height: 110px;
    text-align: center;
    background-color: #def1ff;

} 
.logo img {
    height: 150px;
    object-fit: contain;
}

.header_wrap {
    padding: 20px;
    background-color: #3c8dbc;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_menu {
    font-size: 2.6rem;
    color: #fff;

}

.header_name {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.header_list a {
    display: inline-block;
    font-size: 18px; 
    color: #000;
}

.header_list i {
    margin-left: 30px;
    font-size: 2.6rem;
    color: #fff;
}

/* Main */

main {
    height: 500px;
    display: flex;
}

.content img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.nav {
    height: 100%;
    width: 260px;
    background-color: #767676;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav_list {
    padding: 0;
    margin: 0;
    padding: 20px;
    list-style: none;
}

.nav_list .nav_item:hover a {
    color: #000;
}

.nav_list .nav_item {
    height: 40px;
    line-height: 40px;
}

.nav_item a {
    font-size: 1.6rem;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav_list .nav_item i {
    margin-right: 5px;
}

.nav_item a:hover {
    background-color: #495057;
}

ul.nav_list {
    width: 260px;
}

/* Footer */


footer {
    height: 110px;
    display: flex;
}

.div {
    width: 260px;
    height: 110px;
    background-color: #767676;
}

.footer_info {
    text-align: center;
    flex: 1;
    background-color: #3c8dbc;
}

.footer_info {
    color: #fff;
    font-size: 1.6rem;
}
.footer_info p {
    margin: 0;
    padding: 10px 0 0 0;
}
